In [ ]:
Revision:
    $ in regX ?
    [] in regX ?
    () in regX ? grouping ? ([a-z]{3})\1 ? backrefrence 
    zip() ? [1,2,3], ['apple','mango','soya']

In [1]:
[i for i in range(1,10) if i%3==0]
#list comprehension

[3, 6, 9]

In [ ]:
Q1 range(1,20). Write a list comprehension to get multiples of 3 and 5 in a list.

In [2]:
[i for i in range(1,20) if i%3==0 and i%5==0]

[15]

In [ ]:
Q2)use list comprehension to do this

Input
l1 = ['apple','banana','kiwi']
l2 = ['5','7','3']

Output
['5 apple','7 banana','3 kiwi']

In [3]:
l1 = ['apple','banana','kiwi']
l2 = ['5','7','3']

In [7]:
[val1+" "+val2 for val1,val2 in zip(l2,l1)]

['5 apple', '7 banana', '3 kiwi']

In [ ]:
break and continue

In [ ]:
break: terminates the loop
continue: skips the current iteration.

In [ ]:
# MAP FILTER LAMBDAS.

In [ ]:
def ankit_pal():
    return "happy people"

what is the difference b/w user defined and builtin ??

builtin:
    len()
    sum()
    print()
    max()
    range()
    
    
user-defined: functions defined by us.
    ankit_pal()

In [ ]:
syntax of map function:
    map(name of the fun(either user defined or builtin type),iterable)

In [11]:
def sqr(num):
    return num**2

l = [1,2,3,4,5]

m  = map(sqr,l)

In [12]:
m

In [13]:
list(m)

[1, 4, 9, 16, 25]

In [ ]:
Q3: how would you do it without map?

In [14]:
sqr_list = []
for i in l:
    sqr_i = sqr(i)
    sqr_list.append(sqr_i)
    
print(sqr_list)

[1, 4, 9, 16, 25]

In [16]:
list_of_strings = ['apple','python','mango','banana']

# Q4: find length of each string via map function.Use builtin len function.

In [17]:
list(map(len,list_of_strings))

[5, 6, 5, 6]

In [18]:
input_val = input()

5699

In [19]:
type(input_val)

str

In [22]:
test_string = "I am Mohit, and I know Python"

# split takes a delimter to break the string. split stores the breaked components into a list.
# by default delimeter is space or " "

print(test_string.split(","))

['I am Mohit', ' and I know Python']

In [23]:
input_val = input().split()

print(input_val)

1 2 3 4 5
['1', '2', '3', '4', '5']

In [ ]:
list_of_numbers = map(int,input().split())

In [24]:
x = int('3')

In [25]:
type(x)

int

In [26]:
type('3')

str

In [ ]:
# multiple arguments in map => multiple iterables in map

In [29]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]
l3 = [9,10,11]

In [30]:
def add_utility(v1,v2,v3):
    return v1+v2+v3

print(list(map(add_utility,l1,l2,l3)))

[15, 18, 21]

In [ ]:
## eval?

In [31]:
test_string = '{"python":3,"django":2}'

In [32]:
interesting_return = eval(test_string)

In [33]:
type(interesting_return)

dict

In [ ]:
# eval does evalating if there is some python inside a string.

another_list = '[1,2,3,4,5,6]'

convert this string into a list in python.
how would you do it?

In [34]:
another_list = '[1,2,3,4,5,6]'

print(type(another_list))

<class 'str'>

In [35]:
another_list[0]

'['

In [37]:
converted_list = list(another_list)

In [38]:
type(converted_list)

list

In [39]:
converted_list

['[', '1', ',', '2', ',', '3', ',', '4', ',', '5', ',', '6', ']']

In [41]:
list('[abcdefghijklmnopqrstuvwxyz]')

['[',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z',
 ']']

In [ ]:
another_list = '[1,2,3,4,5,6]'

convert this string into a list in python.
how would you do it?

In [42]:
eval(another_list)

[1, 2, 3, 4, 5, 6]

In [43]:
eval('4==6')

False

In [ ]:
'4==6' convert this expression into python expression??

In [44]:
eval('4+45')

49

In [ ]:
## FILTER : builtin in fun

In [45]:
def even(num1):
    if num1%2==0:
        return True
    else:
        return False

In [50]:
l = [10,20,30,40,500,1,3,5,6,7,9,18]

# filter syntax: filter(fun,iterable)

In [51]:
print(list(filter(even,l)))

[10, 20, 30, 40, 500, 6, 18]

In [ ]:
Q5: Write a fun and use filter to filter those numbers which are divisible by 3 and 5
    
3 mins.

20:38

In [52]:
def div(num1):
    if num1%3 == 0 and num1%5 == 0:
        return True
    else:
        return False

In [53]:
list(filter(div,[1,2,3,5,3,15,30,25,50,90]))

[15, 30, 90]

In [57]:
def fun1(val1):
    if val1%3==0 and val1%5==0:
        return val1
    

l1=[1,2,3,4,5,6,7,8,9,15,30,31,60]
l2=[]
print(l2.append(list(filter(fun1,l1))))

None

In [58]:
print(l2)

[[15, 30, 60]]

In [ ]:
70% of filter

In [60]:
# what if we use None instead of a fun??

list(filter(None,[1,2,3,5,3,15,30,25,50,90,0,[],'',None,{},[1,2,3]]))

[1, 2, 3, 5, 3, 15, 30, 25, 50, 90, [1, 2, 3]]

In [ ]:
bool equivalent of these ?  0,[],'',None,{}

In [61]:
bool([])

False

In [62]:
bool('')

False

In [63]:
bool(None)

False

In [64]:
bool(0)

False

In [ ]:
It works like an identity fun.

bool equivalent of true, and false.

In [66]:
def identity(value):
    return value

list(filter(identity,[1,2,3,5,3,15,30,25,50,90,0,[],'',None,{},[1,2,3],False]))

[1, 2, 3, 5, 3, 15, 30, 25, 50, 90, [1, 2, 3]]

In [ ]:
all()
any()
bin()

In [67]:
all([True,False,False,True])

False

In [68]:
all([True,True,True,True])

True

In [ ]:
all returns True if everything in the iterable is bool equivalent of true or true itself.
but false if even one of them is false or false-equivalent.

In [70]:
all(['happy',234,'asdfslfd'])

True

In [71]:
any([True,False,0,None])

True

In [ ]:
any returns true if there is atleast 1 True or True-equivalent.

In [ ]:
bin() it converts into binary

In [72]:
bin(1)

'0b1'

In [73]:
bin(2)

'0b10'

In [79]:
for i in range(1,10):
    print(bin(i)[2:])

1
10
11
100
101
110
111
1000
1001

In [ ]:
Q: use slicing to remove 0b in the beginning.

In [ ]:
## LAMBADA FUNCTIONS. ANONYMOUS FUNCTIONS. ONE LINE FUNCTIONS. LAMBADA EXPRESSIONS . LAMBDAS.

In [ ]:
small one liner functions, often used without a name.

for faster writing of small functions.

In [ ]:
def hello(x):
    print(x)
    return x

hello() # you have to use the name to call it?

In [ ]:
SYNTAX:
    lambda arguments: expression.
    
we don't use return statements.

In [80]:
# with name syntax

#normal fun

def x(a):
    return a**2

In [82]:
x(4)

16

In [86]:
y = lambda a:a**2

In [87]:
y(4)

16

In [88]:
# without a name, inside another fun.

list(map(lambda a:a**2,[1,2,3,4]))

[1, 4, 9, 16]

In [93]:
# In what sequence does these functions are called and returned.

def fun(x):
    print('x in fun1 is ',x)
    print("I am inside fun")
    return x+1

def fun2(x):
    print('x in fun2 is ',x)
    print("I am inside fun2")
    return x+2
    
def fun3(x):
    print('x in fun3 is ',x)
    print("I am inside fun3")
    return x+3
    
def fun4(x):
    print('x in fun4 is ',x)
    print("I am inside fun4")
    return x+4
    
def fun5(x):
    print('x in fun5 is ',x)
    print("I am inside fun5")
    return x+5
    
def fun6(x):
    print('x in fun6 is ',x)
    print("I am inside fun6")
    return x+6

In [96]:
fun6(fun5(1))

x in fun5 is  1
I am inside fun5
x in fun6 is  6
I am inside fun6

12

In [97]:
fun(fun2(fun3(fun4(fun5(fun6(1))))))

x in fun6 is  1
I am inside fun6
x in fun5 is  7
I am inside fun5
x in fun4 is  12
I am inside fun4
x in fun3 is  16
I am inside fun3
x in fun2 is  19
I am inside fun2
x in fun1 is  21
I am inside fun

22

In [ ]:
## homework to understand this fun calling.

In [98]:
# normal fun

def make_upper(test_val):
    return test_val.upper()

list_of_strings = ['python','java','numpy']

y = []

for i in list_of_strings:
    y.append(make_upper(i))
    
print(y)

['PYTHON', 'JAVA', 'NUMPY']

In [89]:
'python'.upper()

'PYTHON'

In [ ]:
lambda test_val:test_val.upper()

1)map
2)filter
3)zip

In [99]:
list(map(lambda test_val:test_val.upper(),list_of_strings))

['PYTHON', 'JAVA', 'NUMPY']

In [ ]:
next: lambda , iterators.